<tr>
  <td>
    <span title="OCLC:*" class="gbs-thumbnail gbs-link-to-info" rowspan="2">
        {{oclc}}
    </span>
  </td>
  <td>
    <span class="majax-marc-245" title=".{{record}}"></span>
  </td>
  <td>
    <span class="majax-showholdings-brief majax-linktocatalog" title=".{{record}}"></span>
  </td>
</tr>