<tr>
  <td>
    <span class="newbooks-prev-link">
    {{#previouslink}}
      <a href="{{previous}}">Previous Page</a>
    {{/previouslink}}
    </span>
  </td>
  <td>
    <span class="newbooks-nav-center">&nbsp;</span>
  </td>
  <td>
    <span class="newbooks-next-link">
    {{#nextlink}}
      <a href="{{next}}">Next Page</a>
    {{/nextlink}}
    </span>
  </td>
</tr>